h1, h2, h3, p, li, a, span, label, .question, #plantQuizSubmit {
  display: inline-block;
  font-family: bitter;
  color: black;
  margin: 0.5rem;
  position: relative;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, label, .question, #plantQuizSubmit, a, li {
  font-size: 1rem;
}

ul {
  padding: 0;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.3);
  border: 5px solid rgba(0, 0, 0, 0);
}

.container {
  margin: 0 auto;
  padding: 30px;
  width: 80%;
  color: #333;
  background: #22820E;
}

.single-item {
  text-align: center;
  color: black;
  background: white;
  height: 500px;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  height: inherit;
}

.slick-next:before, .slick-prev:before {
  color: black;
}

.slick-slide {
  background-color: bisque;
}

/* TITLE SLIDE */
#title-slide {
  background-image: url("../img/baked-close-up-potato.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#title-slide p, h1 {
  top: 5rem;
  position: relative;
  color: white;
}

/* PERU MAP SLIDE */
#peru-map {
  height: 389px;
  top: 30px;
}

/* INCA SLIDE */
#inca-slide {
  background-image: url("../img/inca.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px
}

#inca-slide p {
  color: white;
  margin-top: 15%;
}

.incan-potato {
  position: relative;
  display: inline-block !important;
  height: 50px;
  top: 20%;
}

/* EUROPE SLIDE */
#europe-slide {
  background-image: url("../img/europe.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px
}

#belladonna-plant, #potato-plant {
  display: inline-block;
  width: 29%;
  min-width: 110px;
  margin: 5px;
  border-radius: 20px;
}

#plantQuizSubmit {
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  display: block;
  left: 22.14%;
  position: absolute;
}

#plantQuizSubmit:hover {
  background-color: #3a8;
}

#plantQuizResults {
  font-family: bitter;
  margin: 5px 0 5px 30px;
}

/* PEASANT SLIDE */
#countryIcons {
  background: white;
}

#EuropeIcon {
  background-color: #4f81bc;
}

#EnglandWalesIcon {
  background-color: #c0504e;
}

#GermanyIcon {
  background-color: #9bbb58;
}

#FranceIcon {
  background-color: #4aacc5;
}

#NetherlandsIcon {
  background-color: #8064a1;
}

/* IRISH SLIDE */
#preFamineIrelandImg, #postFamineIrelandImg {
  left: 38%;
  width: 50%;
  max-width: 150px;
}

#preFamineIrelandImg {
  position: relative;
  display: block;
}

#postFamineIrelandImg {
  position: relative;
  display: none;
}

.irelandMapText {
  color: gray;
  margin: 0;
  display: block;
  padding: 0.25rem;
}

#postFamineIrelandText {
  display: none;
}

/*
#irelandPoph3, #irelandPopp {
  margin: 0;
  display: block;
}

#irelandPopFallh3, #irelandPopFallp {
  margin: 0;
  display: block;
} */
.LegendSquare {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid black;
}

#LegendOver30Icon {
  background-color: #800e00;
}

#Legend20to30Icon {
  background-color: #f82600;
}

#Legend10to20Icon {
  background-color: #faaa68;
}

#Legend0to10Icon {
  background-color: #fefd00;
}

#LegendPopRiseIcon {
  background-color: #1b8000;
}

#postFamineIrelandLegendIcons, #postFamineIrelandLegendText {
  position: relative;
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  top: 17rem;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* IND REV SLIDE */
#ind-rev-slide {
  background-image: url("../img/ind-rev.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#ind-rev-slide p, #ind-rev-slide h3 {
  color: white;
  top: 11rem
}

#irish-migrate {
  height: 500px;
}

/* SLICK QUIZ SLIDE */
/* BASE QUIZ STYLES */
/* These styles ensure that the necessary elements are hidden for toggling */
/* DO NOT EDIT UNLESS YOU KNOW WHAT YOU ARE DOING!! */
#slickQuiz {
  position: relative;
}

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .correct,
.questions li.question .responses .incorrect,
.quizResults {
  display: none;
}

/* If response messages are disabled or only shown on quiz completion,
   nextQuestion button IS checkAnswer button - so it must be displayed */
.nextQuestion.checkAnswer {
  display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
  list-style-type: none;
  padding: 0;
}

.button {
  width: auto;
  padding: 5px 15px;
  color: #ffffff;
  background-color: #22820E;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: darkslategray;
}

.startQuiz {
  margin-top: 40px;
}

.startQuiz, .learnMore {
  color: white;
  background: #22820E;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.learnMore {
  width: 104px;
}

.tryAgain {
  float: none;
  margin: 20px 0;
}

/* clearfix */
.quizArea, .quizResults {
  zoom: 1;
}

.quizArea:before, .quizArea:after, .quizResults:before, .quizResults:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.quizArea:after, .quizResults:after {
  clear: both;
}

.questionCount {
  font-size: 14px;
  font-style: italic;
}

.questionCount span {
  font-weight: bold;
}

ol.questions {
  margin-top: 20px;
  padding: 0;
}

ol.questions li {
  margin-left: 0;
  display: block;
}

ul.answers {
  margin-bottom: 20px;
}

ul.responses li {
  margin: 10px 20px 20px;
}

ul.responses li p span {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.complete ul.answers li.correct, ul.responses li.correct p span {
  color: #6C9F2E;
}

ul.responses li.incorrect p span {
  color: #B5121B;
}

.quizResults h3 {
  margin: 0;
}

.quizResults h3 span {
  font-weight: normal;
  font-style: italic;
}

.quizResultsCopy {
  clear: both;
  margin-top: 20px;
}

/* SOURCES-SLIDE */
.sources-slide li {
  text-align: left;
}

/************************** Responsiveness **************************/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2, h3 {
    font-size: 1.1em;
  }

  p, label, .question, #plantQuizSubmit, a, li, .tooltiptext {
    font-size: 80%;
  }

  label, .question {
    margin: 0 0.5rem;
  }

  .slick-dots {
    bottom: -50px !important;
  }

  #inca-slide p {
    margin: 0.5em;
  }

  .incan-potato {
    top: 10%;
  }
}